.infosection {
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgb(30, 28, 28);
}

.infotext {
    color: #969696;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2em;
    font-size: 1.3rem;
}

.link {
    color: #00ff24;
    text-decoration: none;
}

.closeBtn {
    border: 0;
    color: #fff;
    background: #4d4c4e;
}
