.infosection {
    background: #fee3cf;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 1em;
}

.infotext {
    color: #242729;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2em;
}

.link {
    color: #f2720c;
    font-weight: bold;
    margin: 0 0.3em;
}

.closeBtn {
    border: 0;
    color: #fff;
    background: #f2720c;
    font-size: 13px;
}

strong {
    color: rgb(69, 199, 177);
}
